<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Detail</title>
</head>
<body>
<h1>Library Detail</h1>
<a th:href="@{/place/search/result(type=${type}, distance=${distance}, lat=${lat}, lng=${lng})}">
    <button>목록으로</button>
</a>
<div>
    <p>ID: <span th:text="${library.id}"></span></p>
    <p>이름: <span th:text="${library.name}"></span></p>
    <p>주소: <span th:text="${library.address}"></span></p>
    <p>위도: <span th:text="${library.latitude}"></span></p>
    <p>경도: <span th:text="${library.longitude}"></span></p>
    <p>전화번호: <span th:text="${library.phone} ?: '정보 없음'"></span></p>
    <p>홈페이지: <a th:href="${library.website}" th:text="${library.website} ?: '정보 없음'"></a></p>
    <p>휴관일: <span th:text="${library.closedDays}"></span></p>
    <p>평일 운영 시작: <span th:text="${library.weekDayOpening}"></span></p>
    <p>평일 운영 종료: <span th:text="${library.weekDayClosing}"></span></p>
    <p>토요일 운영 시작: <span th:text="${library.saturdayOpening}"></span></p>
    <p>토요일 운영 종료: <span th:text="${library.saturdayClosing}"></span></p>
    <p>공휴일 운영 시작: <span th:text="${library.holidayOpening}"></span></p>
    <p>공휴일 운영 종료: <span th:text="${library.holidayClosing}"></span></p>
    <p>도서 수: <span th:text="${library.bookCount}"></span></p>
    <p>대출 가능 권수: <span th:text="${library.availableBookRentCount}"></span></p>
    <p>대출 가능 일수: <span th:text="${library.availableBookRentDays}"></span></p>
    <p>열람 좌석 수: <span th:text="${library.seatCapacity}"></span></p>
</div>
<!-- 평가 -->
<!-- 댓글달기 -->
<form method="post" th:action="@{/placelist/library/{placeId}/save-evaluation(placeId=${library.id})}">
<!-    <input type="hidden" name="placeType" value="library">-->
    <input type="hidden" name="username" th:value="${user.name}">
    <!--뒤로가기 보전을 위한 부분-->
    <input type="hidden" name="type" th:value="${type}">
    <input type="hidden" name="distance" th:value="${distance}">
    <input type="hidden" name="lat" th:value="${lat}">
    <input type="hidden" name="lng" th:value="${lng}">
    <!--뒤로가기 보전을 위한 부분-->
    <input type="text" name="comment" placeholder="댓글을 입력하세요" required>
    <input type="submit" value="댓글 작성">
</form>
<!-- 댓글표시 -->
<div>
    <h3>댓글</h3>
    <div th:each="evaluation : ${evaluations}">
        <span th:text="${evaluation.getUsername()}"></span> :
        <span th:text="${evaluation.comment}"></span>
        <div th:if="${evaluation.getUsername()} == ${user.name}">
            <form method="post" th:action="@{/evaluation/delete-evaluation}">
                <input type="hidden" name="evaluationId" th:value="${evaluation.id}">
                <input type="hidden" name="placeType" value="library">
                <input type="hidden" name="placeId" th:value="${library.id}">
                <!--뒤로가기 보전을 위한 부분-->
                <input type="hidden" name="type" th:value="${type}">
                <input type="hidden" name="distance" th:value="${distance}">
                <input type="hidden" name="lat" th:value="${lat}">
                <input type="hidden" name="lng" th:value="${lng}">
                <!--뒤로가기 보전을 위한 부분-->
                <input type="submit" value="삭제">
            </form>
        </div>
        <br>
    </div>
</div>
<!--end 평가-->
</body>
</html>
