<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <style>
    .form-normal {
      border-color: blue;
    }
    .form-error {
      border-color: red;
    }
  </style>
</head>
<body>
<h1>회원가입</h1>
<hr>
<form role="form" action="/user/new" th:object="${userDTO}" method="post" onsubmit="alert('가입이 완료되었습니다.')">

  <!--이름 입력 필드-->
  <label th:for="name">이름</label>
  <input type="text" th:field="*{name}" class="form-normal" placeholder="이름을 입력하세요."
  th:class="${#fields.hasErrors('name')}? 'form-error' : 'form-normal'">
  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">이름 관련 오류 메시지</p>
  <br>

  <!--비밀번호 입력 필드-->
  <label th:for="password">비밀번호</label>
  <input type="password" th:field="*{password}" class="form-normal" placeholder="비밀번호를 입력하세요."
    th:class="${#fields.hasErrors('password')}? 'form-error' : 'form-normal'">
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 관련 오류 메시지</p>

  <!--가입 버튼-->
  <button type="submit">회원가입하기</button>

</form>

</body>
</html>