<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경 - PlaceFinder</title>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            width: 50%; /* 폭을 50%로 설정 */
            margin: auto; /* 중앙 정렬 */
        }
    </style>
</head>
<body>
<div class="container mt-5 form-container">
    <h1 class="text-center">비밀번호 변경</h1>
    <hr>
    <form role="form" action="/user/update" method="post" onsubmit="alert('비밀번호가 변경되었습니다.')" class="my-4">
        <div class="form-group">
            <input type="password" name="new_password" class="form-control" placeholder="새 비밀번호를 입력하세요." required>
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
    <a href="javascript:history.back()" class="btn btn-secondary">뒤로가기</a>
</div>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
