<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<hr>
<p th:text="'안녕하세요, ' + ${username} + '님!'" ></p>
<p id="locationLoadingStatus">위치정보 로딩중...</p>
<form id="locationForm" action="/place/search/result" method="get" onsubmit="return checkIfGeoLocationLoaded()">
    <label><input type="radio" name="type" value="library" checked>도서관</label>
    <label><input type="radio" name="type" value="publicfacility">공공시설</label>
    <label><input type="radio" name="type" value="toilet">화장실</label>

    <br>
    1km <input type="range" min="1" max="5" step="1" value="3" name="distance">  5km
    <br>
    <input type="hidden" id="lat" name="lat" value="">
    <input type="hidden" id="lng" name="lng" value="">
    <button type="submit">위치 기반 검색</button>
</form>
<br>
<button onclick="confirmcLogout()">로그아웃</button>
<button onclick="confirmDelete()">회원탈퇴</button>
<a href="/user/update"><button>비밀번호 변경</button></a>

<script>
    function confirmcLogout() {
        if (confirm("로그아웃 하시겠습니까?")) {
            location.href = "/user/logout";
        }
    }
    function confirmDelete() {
        if (confirm("정말로 회원탈퇴 하시겠습니까?")) {
            alert("회원탈퇴가 완료되었습니다.")
            location.href = "/user/delete";
        }
    }

    let isGeoLocationLoaded = false;

    function checkIfGeoLocationLoaded() {
        if (isGeoLocationLoaded) {
            document.getElementById("locationLoadingStatus").textContent = "위치정보 로딩 완료"; // 상태 업데이트
            return true;
        } else {
            alert("위치 정보를 가져오는 중입니다. 잠시 후에 다시 시도해주세요.");
            document.getElementById("locationLoadingStatus").textContent = "위치정보 로딩중..."; // 상태 업데이트
            return false;
        }
    }


    function getUserLocation() {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                console.log("위도: " + position.coords.latitude + ", 경도: " + position.coords.longitude);
                isGeoLocationLoaded = true;
                document.getElementById("lat").value = position.coords.latitude;
                document.getElementById("lng").value = position.coords.longitude;
                document.getElementById("locationLoadingStatus").textContent = "위치정보 로딩 완료"; // 상태 업데이트
            }, function(error) {
                alert("위치 정보를 가져오는 데 실패했습니다: " + error.message);
            });
        } else {
            alert("위치 정보를 지원하지 않는 브라우저입니다.");
        }
    }

    getUserLocation();
</script>
</body>
</html>